.footer{
    padding: 5rem;
    background-color: #333;
    width: 100%;
    position: relative;
    padding-bottom: 2rem;
    @media only screen and (max-width: 28.125em){
        padding: 3rem;
    }
    &__grid{
        position: relative;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 3rem;
        @media only screen and (max-width: 48em){
            grid-template-columns: 42.5rem;
        }
        @media only screen and (max-width: 28.125em){
            grid-template-columns: 1fr;
        }
        &--cell{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &--image{
            width: 20rem;
            margin-bottom: 2rem;
        }
        &--paragraph{
            color: #fff;
            margin-top: 1rem;
        }
        &--socialbox{
            display: flex;
            margin-top: 2rem;
        }
        &--sociallink{
            margin-right: 1rem;
        }
        &--svg{
            width: 3.5rem;
            height: 3.5rem;
            padding: .5rem;
            border-radius: 2rem;
            border: 1px solid #ffff;
            fill: #fff;
        }
        &--heading{
            font-size: 2rem;
            font-family: $font--arbit;
            color: #fff;
            margin-bottom: 2rem;
        }
        &--links{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin-top: 1rem;
        }
        &--link{
            color: #fff;
            line-height: 2;
            width: max-content;
        }
        &--newsform{
            display: flex;
            padding: 1rem;
            border-radius: 3px;
            overflow: hidden;
            width: 100%;
            border: 1px solid #fff;
            margin-top: 1rem;
        }
        &--text{
            width: calc(100% - 3.5rem);
            background-color: transparent;
            border: none;
            color: #fff;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color: #aaa;
            }
        }
        &--submit{
            width: 3.5rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            fill: #fff;
            background-color: transparent;
            border: none;
            &:focus{
                outline: none;
            }
        }
        &--submitIcon{
            width: 85%;
            height: 85%;
            fill: #fff;
            background-color: transparent;
        }
    }
    &__copyright{
        margin-top: 3rem;
        padding-top: 1rem;
        border-top: 1px solid #ddd;
        &--paragraph{
            display: inline-block;
            color: #fff;
            width: 100%;
            text-align: center;
            & a{
                display: inline-block;
                
                color: $color--primary--red;
                margin-left: .5rem;
            }
        }
    }
}