.instagram{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: 9.5vw;
    position: relative;
    @media only screen and (max-width: 48em){
        grid-template-columns: repeat(5,1fr);
        grid-auto-rows: 19vw;
    }
    &__post{
        height: 100%;
        width: 100%;
        position: relative;

        
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba($color--primary--red,.3);
            transition: .3s;
            opacity: 0;
            z-index: 11;
        }

        &:hover::after{
            opacity: 1;
        }

        &--image{
            height: 100%;
            width: 100%;
            position: relative;
            z-index: 10;
        }
        &--logo{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
            transition: .3s;
            z-index: 15;
            height: 3vw;
            width: 3vw;
            fill: #fff;
        }
        &:hover &--logo{
            opacity: 1;
        }
    }
}